daily_morning_summary.json
{
  "name": "Daily Morning Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "97f3a5d4-a5da-4bd8-935f-5d40233aa8df",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1itYEFrHx6YGRLB8RJoplpoEPwSj8RoKqIRBLV-1FE9A",
          "mode": "list",
          "cachedResultName": "Nexora Lead Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1itYEFrHx6YGRLB8RJoplpoEPwSj8RoKqIRBLV-1FE9A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1itYEFrHx6YGRLB8RJoplpoEPwSj8RoKqIRBLV-1FE9A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        0
      ],
      "id": "7a48736e-e9de-44e6-a1ee-1e9833840068",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dmlIFRBx4B1Cm9otKTLU0hXd36VwdNTXG0uYReMHXMg",
          "mode": "list",
          "cachedResultName": "Nexora Finance Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dmlIFRBx4B1Cm9otKTLU0hXd36VwdNTXG0uYReMHXMg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dmlIFRBx4B1Cm9otKTLU0hXd36VwdNTXG0uYReMHXMg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        0
      ],
      "id": "d0db655c-33f1-4a11-9e2a-78a57b0baf1e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a daily morning business summary using this data:\n\nToday's date is: {{ $now.toFormat('dd/MM/yyyy') }}\n\nFinance Data: {{ JSON.stringify($('Get row(s) in sheet1').all()) }}\nLead Data: {{ JSON.stringify($('Get row(s) in sheet').all()) }}\n\nCreate a clean email summary covering:\n\n1. FINANCE SUMMARY\n   - Total income this month\n   - Total expenses this month\n   - Net profit this month\n   - Progress vs ₹1 lakh monthly target\n\n2. OVERDUE PAYMENTS 🔴\n   - List all entries where Payment Status = Pending\n     AND Payment Due Date is before today\n   - Show: Client Name, Amount, Due Date\n   - If none → write \"No overdue payments ✅\"\n\n3. PAYMENTS DUE TODAY OR THIS WEEK 🟡\n   - List entries where Payment Due Date = today \n     or within next 7 days\n   - Show: Client Name, Amount, Due Date\n   - If none → write \"No upcoming payments\"\n\n4. LEADS SUMMARY\n   - Total leads this month\n   - Leads by status\n\n5. FOLLOW UPS DUE 🔴\n   - List all leads where Follow Up Date = today\n     or already passed\n   - Show: Name, Business, Contact, Follow Up Date\n   - If none → write \"No follow ups due ✅\"\n\n6. TOP 3 PRIORITIES FOR TODAY\n   - Based on overdue payments and follow ups\n   - Give clear action steps\n\nFormat the email clearly.\nEach item on its own separate line.\nUse numbered lists for priorities.\nFormat all currency with commas and ₹ symbol.\nNever use placeholders — always use actual values.\n\nSign off with: \"Best regards, Nexora Assistant\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1040,
        0
      ],
      "id": "f2378186-090e-4932-8f40-270bcc53b788",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        768,
        208
      ],
      "id": "73c09d12-5e99-4954-b62f-7534a1ed43a4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dev.brijeshsharma@gmail.com",
        "subject": "=Your Daily Business Summary - {{ $now.toFormat('dd/MM/yyyy') }}",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        0
      ],
      "id": "eae00d38-029a-4be1-b017-fb7882a407ac",
      "name": "Send a message",
      "webhookId": "ac2f37d4-297a-49be-a8f3-4b875bb41ea6",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "251a84e9-3ba4-4e05-be7d-6386312d224d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "4cbd4233-e5bf-401a-af91-2a62fffddaab",
      "name": "Aggregate1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7e9aaec2-0a28-4515-81aa-9107224d5af2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52d452c1b8379c72e2a6b69669324cca5c0a0e38c62c92776627172f979d83fe"
  },
  "id": "NLVrhRfUARnmZS48",
  "tags": []
}
